/*REFERENCES*/
/*https://www.w3schools.com/*/
/*https://fonts.google.com/*/
/*https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Text_styling/Styling_links*/

html {
  scroll-behavior: smooth; /*Ensures smooth transition in all buttons*/
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  display: block;
  flex-direction: column;
  background-color: #ffffff;
  background-repeat: no-repeat; /*This ensures that the gradient background will not change*/
}

/* nav design */
.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* nav buttons */
.nav a {
  color: #000000;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 13px;
}

.nav a:visited {
  color: #555555;
}

/* Hover effect for the nav buttons */
.nav a:hover {
  background-color: hsl(0, 0%, 78%);
  text-decoration: underline;
  color: #4e0101;
}

.nav a:focus {
  color: #4e0101;
}

.nav a:active {
  color: #4e0101;
  font-weight: bold;
  background-color: #9b9b9b;
}

/*Adds border to the button navigation*/
.border {
  border-left: 1px solid black;
}

/*Adds one last line to close the box effect of the nav buttons*/
.nav a:last-child {
  border-right: 1px solid #000;
}

.story_title {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 70px;
  margin-bottom: 0;
  text-shadow: 0 2px 5px #e0e0e0;
}

.story_subtitle {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

/*Fixes picture location, size and border*/
.profile {
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
}

/*Makes sure that the text can go in the right side of the picture*/
.content_home {
  max-width: 1100px;
  margin: 0 auto 100px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/*Aligns every text in the right side of the picture*/
.text_side {
  padding: 50px;
  font-family: "Lato", sans-serif;
}

.home_title {
  font-family: "Lato", serif;
  font-size: 48px;
}

/* nav buttons */
.content_link {
  color: #3d3d3d;
  text-decoration: none;
  font-size: 16px;
}

.content_link:visited {
  color: #681616;
}

/* Hover effect for the nav buttons */
.content_link:hover {
  text-decoration: underline;
  color: #4e0101;
  border-radius: 10px;
}

.content_link:focus {
  color: #4e0101;
}

.content_link:active {
  color: #a70000;
}

/*button for the projects page to go back to the top*/
.up_down {
  display: block;
  margin: 20px auto;
  width: fit-content;
  text-decoration: none;
}

.up_down:hover {
  color: #810000;
  text-decoration: underline;
}

.project_title {
  font-family: "Lato", serif;
  font-size: 45px;
  color: #000000;
  text-align: center;
  margin-top: -50px;
}

.project_subtitle {
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

/*REFERENCE: https://www.w3schools.com/css/css3_flexbox.asp */
.box {
  flex: 1;
  border: 1px solid #4e0101; /* Your signature brand color */
  transition: border 0.3s ease;
  padding: 30px;
  border-radius: 10px;
}

.box:hover {
  opacity: 0.9;
}

.box_section {
  max-width: 1100px;
  margin: 0 auto 120px;
  padding: 0 40px;
}

.box_title {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.box_gallery {
  flex: 1;
  padding: 30px;
  border-radius: 10px;
}

.box_gap {
  display: flex;
  gap: 30px;
}

.box_section_gallery {
  max-width: 1100px;
  margin: 0 auto 120px;
  padding: 0 40px;
}

.box_gallery:hover {
  opacity: 0.9;
  box-shadow: 0 5px 10px 4px #aaaaaa;
}

/*ensures that the boxes dont stack with each other and has good gaps*/
.box_gap_gallery {
  display: flex;
  gap: 30px;
}

hr {
  margin: auto;
  width: 550px;
  height: 1px;
  background-color: rgb(138, 138, 138);
  border: none;
}

.fa-brands:hover {
  color: #4e0101;
}

.bio-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.bio-image:hover {
  outline: 2px solid #810000;
  opacity: 0.8;
}

.footer-custom {
  background-color: #f1f1f1;
  padding: 32px 16px;
  text-align: center;
  margin-top: 60px;
}

.title_text {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin-bottom: 15px;
  margin-top: 10px;
}
